오존 미세먼지 등등

In [1]:
import pandas as pd
import numpy as np

In [2]:
def make_avg(csv_name):
    csv_root = 'D:\dev_folder\\data\\data\\api_data\\dust\\' + csv_name + '.csv'
    
    temp_dust_data = pd.read_csv(csv_root, encoding='cp949')
    temp_dust_data = temp_dust_data[['지역', '측정일시', 'SO2', 'O3', 'NO2', 'PM10', 'PM25']]
    temp_dust_data['시도'] = temp_dust_data.지역.str.split(' ').str[0]
    temp_dust_data_avg = temp_dust_data.groupby(['시도','측정일시']).mean()
    temp_dust_data_re = temp_dust_data_avg.reset_index()

    return temp_dust_data_re

In [3]:
CSV_NAMES = ['2014년 1분기', '2014년 2분기', '2014년 3분기', '2014년 4분기'
            , '2015년 1분기', '2015년 2분기', '2015년 3분기', '2015년 4분기'
            , '2016년 1분기', '2016년 2분기', '2016년 3분기', '2016년 4분기'
            , '2017년 1월','2017년 2월','2017년 3월','2017년 4월'
            , '2017년 5월','2017년 6월','2017년 7월','2017년 8월'
            , '2017년 9월','2017년 10월','2017년 11월','2017년 12월'
            , '2018년 1분기', '2018년 2분기', '2018년 3분기', '2018년 4분기'
            ]

df_temp = pd.DataFrame({'시도' : [], '측정일시' : [], 'SO2' : [], 'O3' : [], 'NO2' : [], 'PM10' : [], 'PM25' : [], })

for name in CSV_NAMES:
    print(name)
    df_temp = pd.concat([df_temp, make_avg(name)], ignore_index=True)
              
df_temp.head()

2014년 1분기
2014년 2분기
2014년 3분기
2014년 4분기
2015년 1분기
2015년 2분기
2015년 3분기
2015년 4분기
2016년 1분기
2016년 2분기
2016년 3분기
2016년 4분기
2017년 1월
2017년 2월
2017년 3월
2017년 4월
2017년 5월
2017년 6월
2017년 7월
2017년 8월
2017년 9월
2017년 10월
2017년 11월
2017년 12월
2018년 1분기
2018년 2분기
2018년 3분기
2018년 4분기

   시도          측정일시       SO2        O3       NO2        PM10  PM25
0  강원  2.014010e+09  0.011955  0.023000  0.016909  153.363636   NaN
1  강원  2.014010e+09  0.010891  0.020909  0.018564  152.636364   NaN
2  강원  2.014010e+09  0.010455  0.019364  0.018555  142.545455   NaN
3  강원  2.014010e+09  0.010073  0.018182  0.018618  131.181818   NaN
4  강원  2.014010e+09  0.010327  0.017273  0.018464  124.090909   NaN

In [4]:
save_name = 'dust.csv'
df_temp.to_csv(save_name, mode = 'w')